.ui.form .field>label {
    color: "white"
}

label{
    color: "white"
}

.form-check{
    margin: 20px
}

.form-label{
    margin: 10px;
    font-weight: bold
}

.form-group{
    margin: 5px;
}

.css-2b097c-container{
    width: 100px;
}