.ui.form .field>label {
    color: "white"
}

label{
    color: "white"
}

.form-check{
    margin: auto;
    width: 200px;
    text-align: center;
}

.form-label{
    margin: 10px;
    font-weight: bold
}

.form-group{
    margin: 5px;
}

.css-2b097c-container{
    width: 100px;
}

.css-g1d714-ValueContainer{
    padding: 20px  !important;
}