.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 100px 0px 0px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 15vw;
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-width: thin;
}
#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.white{
    background-color: white;
}

.leftButton{
    padding: 10px 10px 0 0;
    float: right;
    border-color: black;
}

.rowC1{display:flex; flex-direction:row;margin-left: 350px;}

.rowR1{display:flex; flex-direction:column;margin-left: 350px;}

.user-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.default-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin: auto;

}

.hidden-upload{
    display: none;
}

.font-fit{
    font-size: 8vh;
    color: gainsboro;
    cursor: pointer;
}