body {
    color: rgb(15, 14, 14);
  }
  
  h1 {
    color: rgb(0, 0, 0);
  }
  
  p.ex {
    color: rgb(17, 16, 16);
  }

.centerDiv {
    position: 'absolute'; left: '50%'; top: '50%';
    transform: 'translate(-50%, -50%)'
}

.leftComponent{
  left: 0px;
  width: 300px;
  padding: 10px;
}

.project-desc{
  padding: 5px;
  border-radius: 8px
}

.card {
  border-radius: 10px;
}

.center1{
  display: flex;
  justify-content: center;
  color: white;
  background: white;
  padding: 20px 20px 5px 5px;
}

.dropdown {
  padding: 3px 3px 3px 3px
}

.rowC1{display:flex; flex-direction:row;}

.rowR11{display:flex; flex-direction:column;}

.sideBar{
  position: fixed;
  right: 20px;
  top: 180px;
}

.withMargin{
  margin: '10px'
}
