:root {
  color-scheme: light dark; /* both supported */
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 22, 22);
}

.main {
  background-color: #282c34;
  flex-direction: column;
  color: rgb(27, 24, 24);
}

.App-link {
  color: #61dafb;
}

.nav-bar{
  margin-right: 15px;
 }
 .nav-link{
  width: 100%;
  display: block;
  padding:10px;
  border-radius: 5px;
  text-decoration: none;
  float: right;
}

.myForm {
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-model {
  background-color: rgb(95, 89, 89);
  width: 300px;
  border: 10px solid rgb(39, 46, 39);
  padding: 50px;
  margin: 20px;
}

.react-list-select {
	background: #705b5b;
	border: 1px solid #cacaca;
	margin-right: 0.5em;
}
.react-list-select--item{
	background: #282c34;
}
.react-list-select--item.is-selected {
	background: #ffd7d7;
}
.react-list-select:focus .react-list-select--item.is-focused::before,
.react-list-select:focus .react-list-select--item.is-focused::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background: #79b9ff;
}
.react-list-select:focus .react-list-select--item.is-focused::before {
	left: 0;
}
.react-list-select:focus .react-list-select--item.is-focused::after {
	right: 0;
}
.react-list-select--item.is-disabled {
	color: #afafaf;
}

.context-menu .react-list-select {
	padding: 0.3em 0;
}
.context-menu .react-list-select--item {
	font-size: 0.8125em;
}

/* Component in list - last example */

.contact {
	padding: 0.5em;
}
.contact .email {
	font-size: 0.675em;
	color: #999;
}

.projects {
  margin-left: 250px;
  margin-top: 20px;
  display: flex;
  right: 0;
  color:white;
}


