.special-leftcurved{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ui.form{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }